@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    position: fixed;
    padding: 30px 0;
    width: 100%;
    z-index: 999;
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: crimson;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: crimson;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18x;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar.sticky .menu li a:hover {
    color: black;
}

.navbar .menu li a:hover {
    color: crimson;
}

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.home {
    display: flex;
    background-color: black;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: "Comfortaa", sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 60px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 6px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: #fff;
    background: none;
}


/*face drawing*/

.face-container {
    margin-top: 125px;
    background: black;
    width: 200px;
    height: 300px;
    left: 70%;
}

.face-container .face {
    position: relative;
    width: 150px;
    height: 180px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 1px;
    z-index: 3;
}

.face::before {
    content: "";
    position: absolute;
    top: -20%;
    left: -14%;
    width: 192px;
    height: 217px;
    background: transparent;
    border-radius: 97px 97px 20px 20px;
    border: solid white 1px;
    z-index: 1;
}

.glasses-left,
.glasses-right {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 5px rgb(59, 11, 37);
    margin: 6px;
    display: flex;
    align-items: center;
    border: solid white 5px;
    z-index: 3;
}

.glasses-left:after {
    content: "";
    width: 16px;
    height: 5px;
    position: absolute;
    left: 74px;
    background: white;
    border: solid white 1px;
    z-index: 3;
}

.face-container .eyes {
    position: relative;
    top: -11px;
    display: flex;
    z-index: 3;
}

.eyes .eye {
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    background: #fff;
    margin: 0 15px;
    border-radius: 50%;
    border: solid white 1px;
    z-index: 3;
}

.eyes .left {
    border-style: solid;
    border-color: white transparent transparent white;
    border-radius: 15px 15px 0 0;
    z-index: 3;
}

.eyes .right {
    border-style: solid;
    border-color: white white transparent transparent;
    border-radius: 15px 15px 0 0;
    z-index: 3;
}

.pupil {
    background: rgb(12, 100, 19);
    width: 50%;
    height: 50%;
    position: relative;
    left: 25%;
    transform-origin: bottom;
    border-radius: 50%;
    z-index: 3;
}

.eyes .left:after {
    content: "";
    position: absolute;
    top: 0%;
    left: -38%;
    width: 6px;
    height: 6px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-radius: 0 0 0 15px;
    z-index: 3;
}

.eyes .right:after {
    content: "";
    position: absolute;
    top: -3%;
    left: 99%;
    width: 6px;
    height: 6px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-radius: 0 0 15px 0;
    z-index: 3;
}

.nose {
    position: absolute;
    top: 108px;
    width: 8px;
    height: 3px;
    background: white;
    z-index: 3;
}

.face .mouth {
    position: absolute;
    top: 75%;
    left: 40%;
    width: 34px;
    height: 14px;
    /* background: rgba(255, 0, 34, 0.795); */
    background: white;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    /* transition: 0.5s; */
    z-index: 3;
}

.neck {
    position: relative;
    top: -2%;
    left: 26%;
    height: 39px;
    width: 50px;
    /* background: rgb(221, 172, 131); */
    background: black;
    border-style: solid;
    border-width: 1px;
    border-color: transparent white transparent white;
    z-index: 3;
}


/* all similar styling code */

section {
    padding: 100px 0;
}

.about,
.skills,
.portfolio,
.contact {
    font-family: "Comfortaa", sans-serif;
}

.about .about-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Comfortaa", sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 205px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

.about .title::after {
    content: "who I am";
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .fa-heart {
    color: crimson;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}


/* skills section styling */

.skills .title::after {
    content: "what I know";
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right .span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}

.skills .skills-content .right .html::before {
    width: 80%;
    animation: html 5s linear infinite;
}

.skills .skills-content .right .css::before {
    width: 80%;
    animation: css 5s linear infinite;
}

.skills .skills-content .right .js::before {
    width: 70%;
    animation: js 5s linear infinite;
}

.skills .skills-content .right .jquery::before {
    width: 70%;
    animation: jQuery 5s linear infinite;
}

.skills .skills-content .right .react::before {
    width: 60%;
    animation: react 5s linear infinite;
}

@keyframes html {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes css {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes js {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
}

@keyframes jQuery {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
}

@keyframes react {
    from {
        width: 0%;
    }
    to {
        width: 60%;
    }
}


/* portfolio section styling */

.portfolio .title::before {
    background: #fff;
}

.portfolio .title::after {
    content: "my projects";
    background: #111;
}

.portfolio {
    color: #fff;
    background: #111;
}

.portfolio .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3 ease;
}

.portfolio .carousel .card:hover {
    background: crimson;
}

.portfolio .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio .carousel .card .text {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.portfolio .carousel .card img {
    height: 180px;
    width: 180px;
    object-fit: cover;
}

.portfolio .carousel .card a {
    text-decoration: none;
    color: #fff;
}

.portfolio .carousel .card a:hover {
    color: black;
}

.portfolio .carousel .card a {
    text-decoration: none;
    color: #fff;
}

.portfolio .carousel .card a:hover {
    color: black;
}

.owl-carousel .owl-nav {
    margin-top: 70px;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    width: 50px;
    height: 70px;
    margin: 0;
    background: #ECF0F1;
    border-radius: 0;
    color: #E74C3C;
    cursor: pointer;
    position: absolute;
    bottom: 200px;
    z-index: 999;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    background: #ECF0F1;
    color: #34495E;
}

.owl-nav button.owl-prev {
    left: -50px;
}

.owl-nav button.owl-next {
    right: -50px;
}

.owl-carousel:hover .owl-nav button.owl-prev {
    left: 0;
}

.owl-carousel:hover .owl-nav button.owl-next {
    right: 0;
}

.owl-theme .owl-dots {
    margin-top: 70px;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: #ECF0F1;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #E74C3C;
}


/* Other */

button:focus,
button:active {
    outline: none;
}

.projects {
    width: 100%;
    display: block;
    margin: 40px auto;
}

.projects .project-card {
    margin: 90px auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: #222;
}

.projects .project-card .img-link {
    display: flex;
    align-items: center;
}

.project-card img {
    width: 300px;
    height: auto;
}

.project-card img:hover {
    border: 2px solid crimson;
    cursor: pointer;
    transition: all 0.3s ease;
}

.projects .project-text {
    display: block;
}

.projects .project-text h2,
h3 {
    text-align: center;
}

.projects .project-text h3 {
    color: crimson;
    padding: 20px;
}

.projects .project-text {
    text-align: center;
}

.projects .project-text a {
    color: white;
}

.projects .project-text a:hover {
    text-decoration: none;
    color: black;
}

.projects .project-text p {
    text-align: justify;
    padding: 20px;
    margin: 10px;
}

.contact .title::after {
    content: "get in touch"
}

.contact .contact-content .column {
    width: calc(50%-30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 60px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: crimson;
}

.contact .contact-content .info .head {
    font-weight: bolder;
}

.contact .contact-content .info .subtitle {
    color: #333;
}

.contact .contact-content .info .subtitle a {
    text-decoration: none;
    color: black;
}

.contact .contact-content .info .subtitle a:hover {
    color: crimson;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    padding-bottom: 10px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1 px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    height: 100%;
    width: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: crimson;
    background: none;
}

footer {
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}

footer .footer-name {
    color: crimson;
}


/* responsive layout styling */

@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 941px) {
    .max-width {
        padding: 0 50px;
    }
    .menu-btn {
        display: block;
        z-index: 99;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.4s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 800px;
    }
    #home {
        display: flex;
        flex-direction: column;
    }
    .home .face-container {
        margin-left: 110px;
        margin-top: 40px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 20px;
    }
    .projects .project-card {
        display: flex;
        flex-wrap: wrap;
    }
    .projects .project-text h2 {
        padding: 20px;
    }
}

@media (max-widh: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 55px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 20px;
        padding: 8px 20px;
    }
    .skills .skills-content .column {
        width: 100%;
    }
}

@media (max-widh: 590px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 27px;
    }
    .projects .project-card {
        margin: 60px auto;
        padding: 10px;
    }
}


}